# Solana local validator data
**/test-ledger/
**/ledger/

# Logs
*.log

# Node
node_modules/

# Build
dist/
build/

# Env
.env


# Solana local validator / test ledger
test-ledger/
**/test-ledger/

# Logs
*.log

# RocksDB
*.sst
